{% extends "base.html" %}
{% block content %}
<div class="container-fluid"> 
    <form class="form-horizontal" method="POST">
        <div class="form-group">
          <label class="control-label col-sm-2" for="keyword">Search everything:</label>
          <div class="col-sm-10">
            <input type="search" class="form-control" name="keyword" id="keyword" placeholder="Enter keyword for search">
          </div>

          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </div>
      </form>
    {% if message %}
        <div class="alert alert-warning" role="alert" style="display:inline-block;">{{ message }}</div>
    {% endif %}

    {% if result %}
    <div class="alert alert-success" role="alert" style="display:inline-block;">Found {{ result|length }} block match</div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="100">Timestamp</th>
                    <th width="220">TX ID</th>
                    <th width="20">Index</th>
                    <th width="200">Hash</th>
                    <th width="50">Nonce</th>
                    <th width="200">Prev_Hash</th>
                </tr>
            </thead>
            <tbody>
                {% for b in result %}
                <tr>
                    <td width="200">{{ b['_source']['timestamp'] }}</td>
                    <td width="220"><a href="/details-tx?txid={{ b['_source']['txid'] }}">{{ b['_source']['txid'] }}</a></td>
                    <td width="20">{{ b['_source']['index'] }}</td>
                    <td width="200" style="word-break: break-all">{{ b['_source']['hash'] }}</td>
                    <td width="50">{{ b['_source']['nonce'] }}</td>
                    <td width="200" style="word-break: break-all">{{ b['_source']['prev_hash'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
    {% endif %}
</div>
{% endblock %}